extends ../base
block title
	| Index page
block main
	section.top-section
		.container
			.row
				.top-section__title.col-lg-6
					.anim
						h1
							| ЗАРАБОТАЙ
							br
							|  на любимой онлайн игре!
					.anim
						p Сними видео по прохождению или напиши гайд, размести на нашем сайт и получи деньги.
					.anim
						button.main_btn Разместить публикацию

	// Секция  our_advantages
	section#our_advantages.our-advantages
		.container
			.our-advantages__title
				h2 Нам нужны интересные и полезные материалы
					br
					|	популярных онлайн игр.
				p Кто, если не геймеры лучше всего знают онлайн игры изнутри,
					br
					| владеют секретами по прохождению, используют «авторские фишки».
			.row
				.col-lg-3.col-md-6
					.our-advantages__item
						.our-advantages__img
							img(src=require("../../img/our_advantages-video-player.png"))
							span 1
						h3 Видеообзоры
				.col-lg-3.col-md-6
					.our-advantages__item
						.our-advantages__img
							img(src=require("../../img/our_advantages-printed.png"))
							span 2
						h3 Пресс релизы
				.col-lg-3.col-md-6
					.our-advantages__item
						.our-advantages__img
							img(src=require("../../img/our_advantages-img3.png"))
							span 3
						h3 Информационные статьи
				.col-lg-3.col-md-6
					.our-advantages__item
						.our-advantages__img
							img(src=require("../../img/our_advantages-img4.png"))
							span 4
						h3 Гайды
	// Секция how-it-works
	section.how-it-works
		.container
			.how-it-works__title
				h2 Как это действует:
			.row
				.offset-xl-5.offset-lg-4.col-xl-7.col-lg-8
					.row
						.how-it-works__item.col-xl-5.col-lg-5.col-12
							p
								span 01
								| Вы записываете видеообзор или текст статьи
							img.arrow(src=require("../../img/how-it-works__arrow.png"))
						.how-it-works__item.offset-xl-2.offset-lg-2.col-xl-5.col-lg-5
							p
								span 02
								| Вы размещаете
								| материал через
								| специальную форму
							img.arrow2(src=require("../../img/how-it-works__arrow.png"))
						.how-it-works__item.offset-xl-2.offset-lg-3.col-xl-7.col-lg-5.flex-center
							p
								span 03
								| Ваша публикация
								| проходит модерацию
							img.arrow3(src=require("../../img/how-it-works__arrow.png"))
						.how-it-works__item.col-xl-5.col-lg-5
							p
								span 04
								| Если все в порядке,
								| Вашу публикацию
								| размещают на сайте
						.how-it-works__item.offset-xl-2.offset-lg-2.col-xl-5.col-lg-5
							p
								span 05
								| Вам перечисляют
								| оплату за работу
							img.arrow4(src=require("../../img/how-it-works__arrow.png"))
	// Секция  ask-form-title
	section.intermediate
		.container
			.intermediate_title
				h3 Заполните форму и мы бесплатно перезвоним и ответим на ваши вопросы
			.intermediate_wrap
				form#form-file.clearfix
					.file_wrap
						input(type='file' name='field')
					.row
						.intermediate_item.col-lg-3.col-md-4.col-sm-4
							.input_wrap
								i.fa.fa-check
								input(name='name', type='text', placeholder='Имя')
						.intermediate_item.col-lg-3.col-md-4.col-sm-4
							.input_wrap
								i.fa.fa-check
								input(name='email', type='text', placeholder='Почта')
						.intermediate_item.col-lg-3.col-md-4.col-sm-4
							.input_wrap
								i.fa.fa-check
								input(name='phone', type='text', placeholder='Телефон')
						input(type='hidden', name='form_name', value='')
						input(type='hidden', name='form_type', value='normal')
						.intermediate_item.col-lg-3
							input(type='submit', value='Записаться')
			h3 Пример табов с вложенностью ещё одного таба
			.tabs-items-wrap
				button.main_btn.tabs-item.active Мужские размеры
				button.main_btn.tabs-item Женские размеры
			.tabs-wrap.active
				p.
					Lorem ipsum dolor sit amet, an eam simul albucius. An ius duis aeque suscipit, ius ullum suscipit eu. Detracto ponderum pertinacia ei his, nonumy omnium adipisci nec ei, ea ludus dictas fuisset qui.
			.tabs-wrap
				p.
					Persius volumus est cu! Ad populo erroribus sed. Timeam legimus maiorum usu te, civibus detracto at vel. Accusata lobortis in sed, et tempor saperet qui. Eu timeam salutandi quaerendum his.
				h4 Вложенный таб
				.tabs-items-wrap-inner
					button.main_btn.tabs-item.active Мужские размеры 2
					button.main_btn.tabs-item Женские размеры 2
					.tabs-wrap-inner.active
						p Detracto ponderum pertinacia ei his, nonumy omnium adipisci nec ei, ea ludus dictas fuisset qui.
					.tabs-wrap-inner
						p Accusata lobortis in sed, et tempor saperet qui. Eu timeam salutandi quaerendum his.


