extends ../base
block title
	| Index page
block main
	section.top-section
		.container
			.row
				.top-section__title.col-6
					.anim
						h1
							| ЗАРАБОТАЙ
							br
							|  на любимой онлайн игре!
					.anim
						p Сними видео по прохождению или напиши гайд, размести на нашем сайт и получи деньги.
					.anim
						button.main_btn Разместить публикацию

	// Секция  our_advantages
	section#our_advantages.our-advantages
		.container
			.our-advantages__title
				h2 Нам нужны интересные и полезные материалы
					br
					|	популярных онлайн игр.
				p Кто, если не геймеры лучше всего знают онлайн игры изнутри,
					br
					| владеют секретами по прохождению, используют «авторские фишки».
			.row
				.col-lg-3.col-md-6
					.our-advantages__item
						.our-advantages__img
							img(src=require("../../img/our_advantages-video-player.png"))
							span 1
						h3 Видеообзоры
				.col-lg-3.col-md-6
					.our-advantages__item
						.our-advantages__img
							img(src=require("../../img/our_advantages-printed.png"))
							span 2
						h3 Пресс релизы
				.col-lg-3.col-md-6
					.our-advantages__item
						.our-advantages__img
							img(src=require("../../img/our_advantages-img3.png"))
							span 3
						h3 Информационные статьи
				.col-lg-3.col-md-6
					.our-advantages__item
						.our-advantages__img
							img(src=require("../../img/our_advantages-img4.png"))
							span 4
						h3 Гайды
	// Секция how-it-works
	section.how-it-works
		.container
			.how-it-works__title
				h2 Как это действует:
			.row
				.offset-xl-5.offset-lg-4.col-xl-7.col-lg-8
					.row
						.how-it-works__item.col-xl-5.col-lg-5.col-12
							p
								span 01
								| Вы записываете видеообзор или текст статьи
							img.arrow(src=require("../../img/how-it-works__arrow.png"))
						.how-it-works__item.offset-xl-2.offset-lg-2.col-xl-5.col-lg-5
							p
								span 02
								| Вы размещаете
								| материал через
								| специальную форму
							img.arrow2(src=require("../../img/how-it-works__arrow.png"))
						.how-it-works__item.offset-xl-2.offset-lg-3.col-xl-7.col-lg-5.flex-center
							p
								span 03
								| Ваша публикация
								| проходит модерацию
							img.arrow3(src=require("../../img/how-it-works__arrow.png"))
						.how-it-works__item.col-xl-5.col-lg-5
							p
								span 04
								| Если все в порядке,
								| Вашу публикацию
								| размещают на сайте
						.how-it-works__item.offset-xl-2.offset-lg-2.col-xl-5.col-lg-5
							p
								span 05
								| Вам перечисляют
								| оплату за работу
							img.arrow4(src=require("../../img/how-it-works__arrow.png"))
	// Секция material requirements
	section.material-requirements
		.container
			.material-requirements__title
				h2 Требования к размещаемым материалам:
			.row.material-requirements__wrap-item
				.col-xl-4.wrap.col-9.col-sm-7.col-md-6.col-lg-5
					.material-requirements__item
						img(src=require("../../img/material-requirements-img-mini.png"))
						h3
							| Грамотный, правильно
							|структурированный текст.
						p
							| Без орфографических и граммати-
							| ческих ошибок, содержащий списки
							| и подзаголовки.
				.col-xl-4.wrap.col-9.col-sm-7.col-md-6.col-lg-5
					.material-requirements__item
						img(src=require("../../img/material-requirements-img-mini2.png"))
						h3
							| Публикация должна быть
							| полезна (интересна) пользо-
							| вателям.
						p
							| Это может быть гайд, советы, секреты,
							| рекомендации и т.д..
				.col-xl-4.wrap.col-9.col-sm-7.col-md-6.col-lg-5
					.material-requirements__item
						img(src=require("../../img/material-requirements-img-mini3.png"))
						h3
							| Допускается только
							br
							| авторский материал.
						p
							| Материал должен пренадлежать лично
							| Вам, и ранее нигде не опубликованный.
				.col-xl-6.wrap.col-9.col-sm-7.col-md-6.col-lg-5
					.material-requirements__item.bot
						img(src=require("../../img/material-requirements-img-mini4.png"))
						h3
							| Видео должно быть хорошего качества.
						p
							| Большое разрешение видео, или при надобности,
							| обработанное в видео редакторе.
				.col-xl-6.wrap.col-9.col-sm-7.col-md-6.col-lg-5
					.material-requirements__item.bot
						img(src=require("../../img/material-requirements-img-mini5.png"))
						h3
							| Желательно подкреплять статьи
							br
							| соответствующими скриншотами из игры.
						p
							| Прикрепляйте изображения, подходящие по смыслу и в
							| хорошем качестве.
	// Секция post-your-publication
	section.post-your-publication
		.container
			.post-your-publication__title
				h2 Разместить свою публикацию очень просто:
			.post-your-publication__carousel
				.owl-carousel.owl-theme
					.item
						img.img-fluid(src=require("../../img/post-your-publication__carousel_img.jpg"))
						p Слайдер 1
					.item
						img.img-fluid(src=require("../../img/post-your-publication__carousel_img.jpg"))
						p Слайдер 2
				.customPrevBtn
					img(src=require("../../img/slider-arrow.png"))
				.customNextBtn
					img(src=require("../../img/slider-arrow.png"))
	// Секция get-more
	section.get-more
		.container
			.get-more__title
				h2.big ХОТИТЕ ПОЛУЧАТЬ БОЛЬШЕ?
				.col-xl-11.col-12.offset-lg-1
					p
						| В своих статьях вы можете размещать
						br
						| личные партнерские ссылки и получать дополнительно
						| 30% от дохода площадки Zergo.
					p
						| Здесь можно узнать больше об условиях
						a(href="#")  партнерской программы.
				h2.big2 Хотите поделиться своими знаниями с другими и заработать на этом?
				button.main_btn Разместить публикацию



